[Unit]
Description = AnnoSig API
After = network.target

[Service]
User = anno5i9
Group = anno5i9
WorkingDirectory = /home/anno5i9/anno5i9/api/
ExecStart = /home/anno5i9/.local/bin/gunicorn --config config.py app:app
PrivateTmp = true

[Install]
WantedBy = multi-user.target
